<p id="notice"><%= notice %></p>

<h1>Recipes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Cuisine</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>

    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.name %></td>
        <td><%= recipe.cuisine %></td>
        <td><%= recipe.user_id %></td>
        <td><%= link_to 'Show', recipe %></td>
        <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
        <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recipe', new_recipe_path %>


<%= form_with(url: "/search", method: "get") do %>
  <%= label_tag(@ing_count, "Number of ingredients:") %>
  <%= text_field_tag(@ing_count) %>
  <%= submit_tag("Search") %>
<% end %>
