<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @user.experience %>
</p>

<p>
  <strong>Recipe 1:</strong>
  <% @user.recipes.each do |recipe| %>
    <%=recipe.name%>
    <%end%>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

 user.recipes.each do |recipe|
    recipe.name
    end